@charset "UTF-8";
@import "basemod.css";
@media screen, projection
{

  #col1 { float: left; width: 150px;  margin:0 }

  #col2 { float: right; width: 300px;  margin:0 }

  #col3 { width: auto; margin: 0 300px 0 150px}


  #col1_content { padding: 0 0 0 0; }

  #col2_content { 
    padding: 0;
    margin-right: 2px;
    background: #8bbb40; 

  }

  #col1_content{
    background: #fff;
    float: left;
/*    width: 150px; */
/*    margin-left:-950px; */
    margin-right: 5px;
    border-right: 1px solid #fff;
    font-size: .9em;
  }

#col1_content ul {
    list-style: none;
    margin: 0;
    padding: 0 0 15px 0;
    border: none;
}

#col1_content li {
    border-bottom: 1px solid #fff;
    margin: 0;
}

#col1_content li.title {
    display: block;
    padding: 7px 7px 7px 0.5em;
    background-color: #8bbb40;
    color: #fff;
    font-size: 125%; 
    font-weight: bold;
}

#col1_content li a {
    text-decoration: none;
    display: block;
    background-color: #f7f7d4;
    color: #61832d;
    padding: 7px 7px 7px 0.5em;
    border-left: 10px solid #61832d;
    width: 100%;
}

#col1_content li a { width: auto; }

#col1_content li a:hover {
    border-left: 10px solid #f8f87a;
    background-color: #61832d;
    color: #FFFFFF;
}

  #col3_content { padding: 0 5px 0 5px }

  #col2_content ul {
    margin: 0 0 1em;
    list-style: none;
}

  #col2_content ul li {
    margin-top: 0;
    margin: 0;
    padding: 5px 0 5px 3px;
    color: #000;
    background: #F7F7D4;
    border-bottom: solid 1px #000;
}

  #col2_content ul li p {
    margin: 3px 0 3px 0;
    padding-left: 10px;
}

  #col2_content ul li.title {
    border-bottom: none;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background: #8bbb40;
}

  #col2_content ul li.rmbutton {
    border-top: solid 1px #000;
    border-bottom: solid 1px #aaa;
    margin-bottom: 0;
    margin-top: 5px; 
    font-weight: bold;
}

  #col2_content ul li.rmbutton a { 
    text-decoration: none;
    display: block;
    width: auto; 
    color: #61832d; 
} 

  #col2_content ul li.rmbutton a:focus,
  #col2_content ul li.rmbutton a:hover,
  #col2_content ul li.rmbutton a:active  { background: #61832d; color: #fff; text-decoration: none; }

  #col2_content ul li.disabled {
    background: #ddd;
}



}