[interface]
classification=Genome Analysis

[parameters]
$;OTHER_OPTS$;=
;;Name any of species, strain, accession, project or any other ID
$;IDENTIFIER$;=___ID___
;;The merged map.list file in the OUTPUT_DIRECTORY of shore_merge
$;MERGED_MAPLIST$;=$;REPOSITORY_ROOT$;/output_repository/shore_merge/$;PIPELINEID$;_default/map.list
;;The scoring matrix file for basecalling. The files come (scoring_matrix_hom.txt, 
;;scoring_matrix_het.txt, scoring_matrix_5perc.txt) with the shore installation. 
;;On bioportal, they are located at /bioportal/sw/encap/shore-0.4.1/share/docs/. 
;;The commonly used one is - scoring_matrix_hom.txt.
$;SCORING_MATRIX$;=/bioportal/sw/encap/shore-0.4.1/share/docs/scoring_matrix_hom.txt

[input]
;;INPUT_FILE is the .shore file in the OUTPUT_DIRECTORY of shore_preprocess
$;INPUT_FILE$;=___reference___

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

[component]
$;COMPONENT_NAME$;=shore_consensus
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed
;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=2.0
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 5801 $
$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml
;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0
;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=/research/projects/ergatis/ergatis-sandbox/project/workflow/project.config
