[interface]
classification=Genome Analysis

[parameters]
$;OTHER_OPTS$;=
;;Allowable IMPORTERs are Bustard and Fastq. Presently we use only Fastq.
$;IMPORTER$;=Fastq
;;Allowable EXPORTERs are Shore and Console. Always use Shore for our purposes.
$;EXPORTER$;=Shore
;;APPLICATIONs can be genomic, mRNA, ChIPseq and sRNA, though none but genomic have been tested.
$;APPLICATION$;=genomic
;;SHORE_RUN_ID has tp be a value between 1000 and 9999
$;SHORE_RUN_ID$;=5000
$;FASTQ_ON_RUN_1$;=___Shore_Input___
;;IS_PAIRED must be '-y' if FASTQ_ON_RUN_2 has a value, otherwise it should be empty.
;;$;IS_PAIRED$;=___Is_Paired___
$;IS_PAIRED$;=
$;FASTQ_ON_RUN_2$;=___Shore_Input_Pair___
;;FASTQ_IMPORTER_QUALITY_TYPE can be either sanger or illumina, for us, it is illumina
$;FASTQ_IMPORTER_QUALITY_TYPE$;=illumina

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

[component]
$;COMPONENT_NAME$;=shore_illumina2flat
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed
;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=2.0
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 5801 $
$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml
;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0
;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=/research/projects/ergatis/ergatis-sandbox/project/workflow/project.config
