[interface]
classification = alignment / model

[parameters]
;; Directory where annotation data (as formatted by format_ASGARD_data) is located
$;DATA_DIR$;=$;ASGARD_DATA$;
;; BLAST output file
$;BLAST_OUTPUT$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_asgard/i1/g1/join_multifasta.ncbi-blastp.raw
;; Additional ASGARD options
$;OPTIONS$;=
$;COMPRESS_BSML_OUTPUT$;=0

[input]
;; Multi FASTA protein sequences
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/join_multifasta/$;PIPELINEID$;_default/join_multifasta.fsa.list
$;INPUT_FILE$;=
$;INPUT_DIRECTORY$;=
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$;=fsa

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;RAW_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list
$;BSML_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list

[component]
$;COMPONENT_NAME$;=asgard_simple
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=$Name$
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 5275 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=
