[interface]
classification = file / conversion

[parameters]
;;Error Limit on Overlaps:
$;ovlErrorRate$;=___ovlErrorRate___

;;Error Rate above Which Unitigger Discards Overlaps: 
$;utgErrorRate$;=___utgErrorRate___

;;Error Rate for Consensus: 
$;cnsErrorRate$;=___cnsErrorRate___

;;Error Rate for Scaffolder: 
$;cgwErrorRate$;=___cgwErrorRate___

;;Seed Length: 
$;merSize$;=___merSize___

$;createAGP$;=1

$;createACE$;=1

$;OUTPUT_PREFIX$;=celera

[input]
;; A comma seperated list (no spaces) of .frg files form sff_to_CA.  This component does not iterate
$;INPUT_FILE_LIST$;=___FRG_Input___

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;SPEC_FILE_LIST$;=$;OUTPUT_DIRECTORY$;/spec_file.list

[component]
$;COMPONENT_NAME$;=create_spec_file
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=$Name$
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 5801 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=/research/projects/isga/dev/project/workflow/project.config
