@charset "UTF-8";
@import "basemod.css";
@media screen, projection
{
  /*-------------------------------------------------------------------------*/
  #col1 { 
    float: right;
    width: 300px;
  }

  #col2 { display:none}
  #col3 { width: auto; margin: 0 300px 0 0}
  
  #col1_content { 
    padding: 0;
  }

  #col3_content { padding: 0 10px 0 20px }
	
  #col1_content ul {
    margin: 0 0 1em;
    list-style: none;
  }

  #col1_content ul li {
    margin-top: 0;
    margin: 0;
    padding: 5px 0 5px 3px;
    color: #000;
    border-bottom: solid 1px #000;
  }

  #col1_content ul li p {
    margin: 3px 0 3px 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  #col1_content ul li.title {
    border-bottom: none;
    padding: 3px 0 0 3px;
    text-align: center;
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
  }

  #col1_content ul li.rmbutton {
    border-top: solid 1px #000;
    border-bottom: solid 1px #aaa;
    margin-bottom: 0;
    font-weight: bold;
  }

  #col1_content ul li.rmbutton a { 
    text-decoration: none;
    display: block;
    width: auto; 
  } 

  #col1_content ul li.rmbutton a:focus,
  #col1_content ul li.rmbutton a:hover,
  #col1_content ul li.rmbutton a:active  { 
    color: #fff; 
    text-decoration: none; 
  }

  #col1_content ul li.disabled {
    background: #ddd;
  }
  
  .red {
    color : #FF0000;
  }

  #col1_content span{
    cursor: pointer;
  }
  /*-------------------------------------------------------------------------*/




}
