/* tables */
/*
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
*/

table.tablesorter thead tr th {
/*	background-color: #e6EEEE; */
/*	border: 1px solid #FFF; */
/*	font-size: 8pt; */
        font-size: 100%;
	text-indent: 12px;
}

.list_label th{
       font-size: 100%;
       background: #f7f7d4;
       color: #00184C;
       font-weight: bold;
       border-bottom: solid 1px #00184C;
}

tr.psuedo-head td {
    background-color:#61832D;
    color: #fff;
    font-size: 105%;
    text-align:left;
    vertical-align: top;
    font-weight: bold;
    padding: 5px 20px 5px 5px; margin: 0 0 0 0;
    border-bottom: solid 1px #00184C;
}



table.tablesorter thead tr .header {
	background-image: url(/include/img/tablesorter/bg.gif);
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
}
/*
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
*/
table.tablesorter thead tr .headerSortUp {
	background-image: url(/include/img/tablesorter/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/include/img/tablesorter/desc.gif);
}
/*
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
*/
