@charset "UTF-8";
@import "basemod.css";
@media screen, projection
{
  /*-------------------------------------------------------------------------*/
  #col1 { float: left; width: 150px}
  #col2 { display:none}
  #col3 { width: auto; margin: 0 0 0 150px}

  #col3_content { padding: 0 5px 0 5px; }
	

  #col1_content{
    padding: 0 0 0 0;	
    background: #fff;
    float: left;
    margin-right: 5px;
    border-right: 1px solid #fff;
    font-size: .9em; 
}

#col1_content ul {
    list-style: none;
    margin: 0;
    padding: 0 0 15px 0;
    border: none;
}

#col1_content li {
    border-bottom: 1px solid #fff;
    margin: 0;
}

#col1_content li.title {
    display: block;
    padding: 7px 7px 7px 0.5em;
    background-color: #8bbb40;
    color: #fff;
    font-size: 125%; 
    font-weight: bold;
}

#col1_content li a {
    text-decoration: none;
    display: block;
    background-color: #f7f7d4;
    color: #61832d;
    padding: 7px 7px 7px 0.5em;
    border-left: 10px solid #61832d;
    width: 100%;
}

#col1_content li a { width: auto; }

#col1_content li a:hover {
    border-left: 10px solid #f8f87a;
    background-color: #61832d;
    color: #FFFFFF;
}

  /*-------------------------------------------------------------------------*/
}