[interface]
classification=Genome Analysis

[parameters]
$;OTHER_OPTS$;=
;;FLOWCELL_FOLDER is the OUTPUT_DIRECTORY of shore_illumina2flat
$;FLOWCELL_FOLDER$;=$;REPOSITORY_ROOT$;/output_repository/shore_illumina2flat/$;PIPELINEID$;_default
$;MAX_EDIT_DIST$;=___Max_Mismatch___
;;MAX_GAPS should not be more than MAX_EDIT_DIST
$;MAX_GAPS$;=___Max_Gap___
;;NUM_OF_PROCESSORS allows parallelization. Check for SGE compatibility before opting for multiple processors.
$;NUM_OF_PROCESSORS$;=1

[input]
;;INPUT_FILE is the .shore file in the OUTPUT_DIRECTORY of shore_preprocess
$;INPUT_FILE$;=___reference___

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;LANE_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.lane.list

[component]
$;COMPONENT_NAME$;=shore_mapflowcell
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed
;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=2.0
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 5801 $
$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml
;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0
;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=/research/projects/ergatis/ergatis-sandbox/project/workflow/project.config
