html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}
:focus{outline:0;}
body{line-height:1;font-family:verdana, arial, helvetica, sans-serif;font-size:76%;}
ol,ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:400;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
a{text-decoration:none;font-weight:700;color:#000;}
a:hover{text-decoration:underline;}
h1{font-size:2em;font-weight:400;margin-top:0;margin-bottom:0;}
h2{font-size:1.7em;font-weight:400;margin:1.2em 0;}
h3{font-size:1.4em;font-weight:400;margin:1.2em 0;}
h4{font-size:1.2em;font-weight:700;margin:1.2em 0;}
h5{font-size:1em;font-weight:700;margin:1.2em 0;}
h6{font-size:.8em;font-weight:700;margin:1.2em 0;}
img{border:0;}
ol,ul,li{font-size:1em;line-height:1.8em;margin-top:.2em;margin-bottom:.1em;}
p{font-size:1em;line-height:1.1em;margin:1.2em 0;}
li > p{margin-top:.2em;}
pre{font-family:monospace;font-size:1em;}
strong,b{font-weight:700;}

a               { text-decoration: none;  }
a:link          { color: #002880; text-decoration: none; }
a:visited       { color: #002C8A; text-decoration: none; }
a:active        { color: #FFFF8F; text-decoration: none; }
a:hover         { color: #DBDB00; text-decoration: none; }

/* *** COLORS *** */
div.navbar, #menu li a, h1, .button
  { background-color: #f7f7d4; }

#topnav a:link, #topnav a:visited, #menu li a, h1, h2, .button, .button:visited
  { color: #61832d; }

#topnav a:hover, #menu li a:hover
  { background-color: #61832d; }

/* *** END COLORS *** */

body {
    font-size: 100%; 
    font-family: arial, verdana, sans-serif;
    text-align:center;
}


p{margin:0 10px 10px;}


ul {list-style-type:square; font-size: 95%; color: #000000;}
ul ul {list-style-image: none; font-size: 90%; }

div#container {
    text-align:left;
    width:950px;
    margin:0 auto;
}

div#header {
    height:50px;
    line-height:50px;
    margin:0;
    padding-left:10px;
/*    background: #00184C; */
    background: #8bbb40;
    color: #FFFFFF;
/*    border-bottom: 2px solid #FFFF8F; */
    border-bottom: 2px solid #f8f87a;
    border-top: 0px;
}

p#header_login {
    color: #FFFFFF;
}

div#header img {
    padding: 5px 15px 0 5px;
}

/* *** Top Nav Bar *** */

div.navbar {
    float: left;
    width: 100%;
    min-width: 850px;
    /*border-top: 1px solid #FFFFFF;*/
    border-bottom: 5px solid #FFFFFF;
    white-space: nowrap;
}

#topnav {
    margin: 0;
    padding: 0 0 12px 8px;
}

#topnav li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

#topnav a:link, #topnav a:visited {
    float: left;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    padding: 0 16px 3px 16px;
    text-decoration: none;
    /*border-right: 1px solid #00184C;*/
/*    border-top: 2px solid #C6D3E2;
    border-bottom: 2px solid #C6D3E2; */
}

#topnav a:hover {
    color: #FFFFFF;
}

/* *** Side Menu *** */

div#menu{
    background: #fff;
    float: left;
    width: 150px;
    margin-left:-950px;
    margin-right: 10px;
    border-right: 1px solid #FFFFFF;
    font-size: 75%;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0 0 15px 0;
    border: none;
}

#menu li {
    border-bottom: 1px solid #FFFFFF;
    margin: 0;
}

#menu li.title {
    display: block;
    padding: 7px 7px 7px 0.5em;
    background-color: #8bbb40;
    color: #fff;
    font-size: 125%; 
    font-weight: bold;
}

#menu li a {
    display: block;
    padding: 7px 7px 7px 0.5em;
    border-left: 10px solid #61832d;
    width: 100%;
}

#menu li a { width: auto; }

#menu li a:hover {
    border-left: 10px solid #f8f87a;
    color: #FFFFFF;
}

/* *** Footer *** */

div#footer {
    border-top:thin solid #CCCCCC;
    clear:both;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:10px;
    height:50px;
    margin-top:10px;
    padding-top:10px;
    text-align: center;
    text-decoration: none;
    width:100%;
}

div#footer a {
    text-decoration: none;
}   

div#wrapper {
    float: left;
    width:100%
}

div#content {
    margin: 0 0 0 150px;
    padding-left: 20px;
}


h1 {
   margin: 15px 0 25px 0;
   border-bottom: 1px solid #61832d;
   border-top: 1px solid #61832d;      
   padding: 5px 0 5px 15px;  
} 

h2 {
   margin: 15px 0 25px 0;
   border-bottom: 1px solid #61832d;    
   padding: 5px 0 5px 15px;  
}

h3 {
   margin: 15px 0 0 0; 
   padding: 5px 0 5px 15px;  
}

/* *** BUTTONS *** */
.button {
	padding: .2em 1em;
	text-decoration: none;
        color: #f8f87a;
	font: bold 12px Arial, Geneva, sans-serif;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
	margin: 2px;
}

.button:visted {
        color: #f8f87a;
}
	       
.button:hover {
	color: #000000;
	background: #FFFFFF;
}