[interface]
classification = file / conversion

[parameters]
$;LIBRARY$;=___library___
;; Either flx or titanium
$;LINKER$;=___linker___
;; Can be either none, soft, hard, chop
$;TRIM$;=___trim___
;; Can be either all, 454, none, n, pair-of-n, or discard-n
$;CLEAR$;=___clear___
;; Two digit parameters i and d used here.
$;INSERT_SIZE$;='___insert_size_avg___  ___insert_size_std___'
$;OUTPUT_PREFIX$;=___library___

[input]
$;INPUT_FILE_LIST$;=___Celera_Input___
$;INPUT_FILE$;=
$;INPUT_DIRECTORY$;=
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$;=sff

[output]
$;OUTPUT_TOKEN$;=___output_token___
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;FRG_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.frg.list

[component]
$;COMPONENT_NAME$;=sff_to_CA
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=$Name$
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 5801 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=/research/projects/isga/dev/project/workflow/project.config
